SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database (PostgreSQL)
DB_NAME=bookstore_db
DB_USER=bookstore
DB_PASSWORD=securepassword
DB_HOST=db
DB_PORT=5432

# Kavenegar SMS
KAVENEGAR_API_KEY=your-kavenegar-api-key

# Zarinpal Payment Gateway
ZARINPAL_MERCHANT_CODE=your-merchant-code
ZARINPAL_SANDBOX=1      # 1 for test, 0 for production

# OTP expiry (minutes)
OTP_EXPIRY_MINUTES=2

CORS_ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,http://0.0.0.0:8000